$bg-color: #333;
$font-color: #fff;
$primary-color: #008ed6;
$dark-overlay: rgba(0, 0, 0, 0.7);
$icon-size: 23px;

body {
    background: $bg-color;
    color: $font-color;
}

/**BUTTONS**/
button:focus, a:focus {
    outline: none;
}

/**NAVBAR**/
.navbar {
    border-bottom: 3px solid $primary-color;
    opacity: 0.8;   
}


/**HOME-SECTION**/
#home-section {
    background: url("../img/home.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    .dark-overlay {
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }

    .inner-home {
        padding-top: 150px;
    }

    .card {
        opacity: 0.8;
    }

    .fa {
        background: #fff;
        color: $primary-color;
        padding: 4px;
        font-size: $icon-size;
        border-radius: 5px;
        margin-top: 5px;
    }
}

/**EXPLORE BODY SECTION**/
#explore-section {
    .fa {
        background: $bg-color;
        color: #fff;
        padding: 4px;
        font-size: $icon-size;
        border-radius: 5px;
        margin-top: 5px;
    }
}

/**CREATE HEADING**/
.create-heading {
    background: $primary-color;
}

/**CREATE BODY**/
#create-section {
    .fa {
     background: #fff;
        color: $primary-color;
        padding: 4px;
        font-size: $icon-size;
        border-radius: 5px;
        margin-top: 5px;
    }
}